<%- include("header") -%>
<h1>Telephone Helpline – Call 1098</h1>
<p> You can complain about any instances of child labour in the following manner:1098 is a toll-free number and it operates across India. It is operated by Childline India Foundation which works for child rights and child protection. Anyone, including children themselves, can call and give information on this number. You should educate children at schools or children who are working, about this helpline number so that illegal acts of child labour can be prevented.</p>
<p>When you call 1098: Your call will be received by a person who you can give the following information to:</p>
<ul>
    <li>Name of the child (if you know)</li>
    <li>Age (You can give an estimate)</li>
    <li>Description of the Child.</li>
    <li>Address ( You have to specifically give the exact location and any landmarks if you know)</li>

</ul>
<div class="good">
    <img src="/k212.jpg" alt="@ thnks" height="350px" width="500px">

</div>

<%- include("footer") -%>