<%- include("header") -%>
<p style="background-image: url('/k35.jpg');"></p>
<h1>CHILD LABOUR IN INDIA</h1>

<p>Worldwide, millions of children are forced into unpaid or paid work that deprives them of an education, a happy childhood and a prosperous future. Learn about the child labour situation in India and what more needs to be done.</p>

<div class="">

    
    <h2>How many child labourers are there in India?</h2>
    <p>According to the ILO, there are around 12.9 million Indian children engaged in work between the ages of 7 to 17 years old. When children are employed or doing unpaid work, they are less likely to attend school or attend only intermittingly, trapping them in the cycle of poverty. Millions of Indian girls and boys are going to work every day in quarries and factories, or selling cigarettes on the street. The majority of these children are between 12 and 17 years old and work up to 16 hours a day to help their families make ends meet. But child labour in India can start even earlier with an estimated 10.1 million children between the ages of 5 and 14 years-old engaged in work.</p>
    <p>As children get older, their involvement in employment also increases. In India, 20 percent of all children aged 15 to 17 years old are involved in hazardous industries and jobs . Measuring the exact scale of child labour in India is difficult as it is often hidden and under-reported.  There are almost 18 million children between the ages of 7 to 17 years old who are considered “inactive” in India, neither in employment nor in school. These missing girls and boys in India are potentially subject to some of the worst forms of child labour.</p>
</div>



<div >
    
    
            <div class="kothi">
                
            </div>
            <div class="kothi12">
                
                 <h2>What needs to be done to stop child labour in India?</h2>
                 <p>Much more has to be done in the political landscape to stop exploitative child labour in India: the laws against child labour must be further tightened and more strictly enforced. In addition, it is important to combat extreme poverty, a root cause of child labour. Addressing poverty and inequality  is crucial to end child labour in India.

                   Access to education is also vital to break the vicious cycle of poverty and child labour. As children complete higher levels of education, they are more likely to find decent work in adulthood and can use their income to care for themselves and their families without relying on child labour. Although education is compulsory and free in India for children up to the age of 14, widespread poverty forces families to prioritize putting  food on the table over sending their children to school.  As a result, many children attend school irregularly or not at all because they have to work instead.</p>
                
            </div>
</div>
<div >
    <div class="ko">
        <img  src="/k15.jpg" alt="king" width="280px" height="250px">
    </div>
    <div class="kig">
        <h2>What are the causes of child labour in India?</h2>
        <p>Despite the recent economic boom in India, more than a third of all Indians still live below the poverty line. The technical innovations and developments in the IT sector have not created jobs in poverty-stricken areas. People from rural areas with little education often see no alternative but to take their children out of school and put them to work to help feed their family. Due to the dire situation of many families, children are sold by their fathers and mothers to child traffickers or parents abandon their children in the countryside while they look for work in a big city. These children are especially vulnerable and are often exploited by traffickers who force the boys and girls to work for very low wages or nothing at all.</p>

    </div>
   
</div>
    
       
        
        

    



<%- include("footer") -%>

